---
import { concatPaths, getLang, getPreferableLangs } from "../utils/url";
import { getEnv } from "../services/cloudflare";

import Layout from "../layouts/Layout.astro";
import Header from "../components/blocks/Header/Header";
import Footer from "../components/blocks/Footer/Footer";
import Section from "../components/elements/Section";
import RenderHTML from "../components/elements/RenderHTML";

let notFound = [];
try {
  notFound = await Astro.glob("../../content/404.md");
} catch (e) {}

let localBusiness = [];
try {
  localBusiness = await Astro.glob("../../content/local-business.md");
} catch (e) {}

const indexNotFound = notFound[0];

const { headline, cta, title, description, image } = {
  ...indexNotFound?.frontmatter,
} as {
  headline: string;
  title: string;
  description: string;
  image: string;
  cta: { href: string; label: string };
};

const bodyHtml = indexNotFound?.compiledContent();
const localBusinessProps = (localBusiness || [])[0]?.frontmatter || {};

let lang: string = getLang(Astro.url);
const { LANGS } = getEnv(Astro.request);
if (!LANGS.includes(lang)) {
  lang =
    getPreferableLangs(Astro.request).find((code) => LANGS.includes(code)) ||
    LANGS[0];
}
---

<Layout
  lang={lang}
  title={title || ""}
  description={description || ""}
  image={image || ""}
>
  <Header navigation={[]} langs={[]} url={""} lang={lang} />
  <main>
    <Section
      className="text-center pt-[74px] pb-[124px] md:pt-[274px] md:pb-[270px]"
      effect={{ x: "left" }}
    >
      <div class="text-center">
        <h1 class="uppercase text-4xl md:text-6xl mt-14">{headline}</h1>
        <div class={"text-sm md:text-lg mt-7 max-w-screen-lg m-auto"}>
          <RenderHTML>{bodyHtml}</RenderHTML>
        </div>
        <a
          href={concatPaths(cta.href || "/", lang)}
          class="group space-x-2 block w-fit m-auto mt-7 text-sm md:text-lg text-center border-2 border-pnk-200 rounded-3xl py-2 px-4 hover:bg-pnk-200 hover:border-pnk-200 hover:shadow hover:shadow-pnk-200 active:border-pnk-100 active:shadow active:shadow-pnk-100"
        >
          <span class="inline-block">{cta.label}</span>
          <svg
            class="animate-bounce inline-block fill-pnk-100 group-hover:animate-none"
            height="24px"
            width="24px"
            version="1.1"
            id="Layer_1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 0 512 512"
            xml:space="preserve"
          >
            <g>
              <g>
                <g>
                  <path
                    d="M256,0C114.618,0,0,114.618,0,256s114.618,256,256,256s256-114.618,256-256S397.382,0,256,0z M256,469.333
          c-117.818,0-213.333-95.515-213.333-213.333S138.182,42.667,256,42.667S469.333,138.182,469.333,256S373.818,469.333,256,469.333
          z"
                  ></path>
                  <path
                    d="M347.582,198.248L256,289.83l-91.582-91.582c-8.331-8.331-21.839-8.331-30.17,0c-8.331,8.331-8.331,21.839,0,30.17
          l106.667,106.667c8.331,8.331,21.839,8.331,30.17,0l106.667-106.667c8.331-8.331,8.331-21.839,0-30.17
          C369.42,189.917,355.913,189.917,347.582,198.248z"
                  ></path>
                </g>
              </g>
            </g>
          </svg>
        </a>
      </div>
    </Section>
  </main>
  <Footer {...localBusinessProps} />
</Layout>
